body {
  background: linear-gradient(135deg, #044f48, #2a7561);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #9fa2a7;
}

#wrapper {
  width: 450px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: #161719;
}

#chatbox {
  height: 360px;
  overflow: auto;
}

.speechbubble {
  background-color: #26272b;
  color: #9fa2a7;
  font-size: 0.8em;
  line-height: 1.75;
  padding: 15px 25px;
  margin-bottom: 75px;
  cursor: default;
}

.speechbubble:nth-child(2n) {
  border-left: 5px solid;
}

.speechbubble:nth-child(2n):after {
  content: "";
  margin-top: -30px;
  padding-top: 0px;
  position: relative;
  bottom: -45px;
  left: 20px;
  border-width: 30px 0 0 30px;
  border-style: solid;
  border-color: #26272b transparent;
  display: block;
  width: 0;
}

.speechbubble:nth-child(2n + 1) {
  border-right: 5px solid;
}

.speechbubble:nth-child(2n + 1):after {
  content: "";
  margin-top: -30px;
  padding-top: 0px;
  position: relative;
  bottom: -45px;
  left: 350px;
  border-width: 30px 30px 0 0;
  border-style: solid;
  border-color: #26272b transparent;
  display: block;
  width: 0;
}

.speechbubble:nth-child(4n + 1) {
  border-color: #56b273;
}

.speechbubble:nth-child(4n + 2) {
  border-color: #01ad9b;
}

.speechbubble:nth-child(4n + 3) {
  border-color: #b388dd;
}

.speechbubble:nth-child(4n + 4) {
  border-color: #ff8750;
}

.speechbubble p:before {
  content: "“";
  font-family: Georgia;
  font-size: 40px;
  line-height: 0;
  display: inline-block;
}

.speechbubble .username {
  display: inline;
  font-style: italic;
  float: right;
}

.speechbubble .username:before {
  content: "- ";
}
