name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  test:
    strategy:
      matrix:
        go-version: ["1.23", "1.22"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 20
          fetch-tags: true
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Set up webrpc cache folder
        uses: actions/cache@v4
        with:
          key: webrpc-cache
          path: /tmp/webrpc-cache
      - name: Test
        run: make test

  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 20
          fetch-tags: true
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - name: Set up webrpc cache folder
        uses: actions/cache@v4
        with:
          key: webrpc-cache
          path: /tmp/webrpc-cache
      - name: Build
        run: make install
      - name: Regenerate examples
        run: make generate
      - name: Git diff of regenerated examples
        run: make diff
